* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    max-width: 100%;
    min-height: 100vh;
    background: #fff;
    overflow: hidden;
}

.account {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms-content {
    width: 50%;
    height: 100vh;
    padding: 36px 50px;
    align-self: center;
}

.forms-content h1 {
    font-size: 1.5rem;
    letter-spacing: -.0024em;
    margin: 0 0 15px;
    line-height: 50px;
}

.facebook {
    background: #4065b4;
    color: #fff;
}

.complement {
    width: 50%;
    height: 100vh;
}