* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	max-width: 100%;
	min-height: 100vh;
	background-color: aliceblue;
}

.top {
	height: 465px;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../assets/cacapava.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center 0;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media(max-width: 700px) {
	.top {
		width: 100%;
		height: 524px;
		background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)), url(../assets/cacapava-mobile.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		justify-content: start;
	}
}

.top-header {
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6%;
}

.logo {
	width: 127px;
	height: 39px;
	cursor: pointer;
	margin-right: 18vw;
}

.menu ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.menu ul li {
	padding: 0 28px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0em;
}

.menu ul li::after {
	content: '';
	width: 0;
	border: none;
	transition: 0.5s;
}

.menu ul li:hover::after {
	width: 30px;
	border: 1px solid #FFE456;
}

.menu ul li a {
	text-decoration: none;
	color: #fff;
}

@media(max-width: 700px) {
	.menu {
		display: none;
	}
}

.sobre {
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-bottom: 117px;
}

.sobre h1 {
	border-radius: nullpx;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 38px;
}

.sobre p {
	width: 800px;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
}

@media(max-width: 700px) {
	.sobre {
		display: none;
	}
}

.forms {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(0px, -50%);
	margin-bottom: 46px;
}

@media(max-width: 700px) {
	.forms {
		flex-direction: column;
		transform: translate(0px, -150%);
	}
}

.forms-input {
	width: 541px;
	height: 51px;
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	border: none;
	padding: 20px;
	color: #222000;
	margin-right: 30px;
}

.forms-input:focus {
	outline: 0;
	border: none;
	box-shadow: 0px 0px 10px #000;
}

@media(max-width: 700px) {
	.forms-input {
		margin-right: 0;
		margin-bottom: 14px;
		width: 256px;
		height: 51px;
	}
}

.forms-button {
	width: 49px;
	height: 51px;
	background: #FFE456;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	border: none;
	border-radius: 15px;
}

.forms-button:focus {
	border: none;
	outline: 0;
}

.forms-button:active {
	box-shadow: none;
}

@media(max-width: 700px) {
	.forms-button {
		width: 256px;
		height: 51px;
	}

	.forms-button::after {
		content: 'Buscar';
		color:#fff;
		text-align: center;
		filter: drop-shadow(0 0 5px #000000a1);
	}
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.child-1 {
	margin-right: 56px;
	width: 374px;
	height: 204px;
	background: linear-gradient(rgba(4, 9, 30, 0), rgba(4, 9, 30, 0)), url(../assets/ajuda.png);
	mix-blend-mode: darken;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
	box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	content: '';
	transition: 0.5s;
}

.child-1::after {
	content: "Como funcionamos?";
	color: #fff;
	position: absolute;
	top: 160px;
	left: 20px;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	filter: drop-shadow(0px 0px 4px #000);
}

.child-1:hover {
	transform: scale(1.05);
}


.child-2 {
	width: 374px;
	height: 204px;
	background: url(../assets/APAE2.png);
	mix-blend-mode: darken;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
	box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	content: '';
	transition: 0.5s;
}

.child-2::after {
	content: "Instituições";
	color: #fff;
	position: absolute;
	top: 160px;
	left: 20px;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	filter: drop-shadow(0px 0px 4px #000);
}

.child-2:hover {
	transform: scale(1.05);
}

@media(max-width: 700px) {
	.child-1, .child-2 {
		width: 154px;
		height: 198px;
		background-position: center;
		background-size: cover;
		transform: translate(0, -95%);
		mix-blend-mode: normal;
	}

	.child-1::after, .child-2::after {
		width: 122px;
		height: 19px;
		font-size: 16px;
		line-height: 20px;
	}

	.child-1::after {
		top: 130px;
	}

	.child-1:hover, .child-2:hover {
		transform: translate(0, -95%);
	}
}

hr {
	width: 753px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	margin: 34px 0;
}

@media(max-width: 700px) {
	hr {
		width: 320px;
	}
}

.funcionamento {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 48px;
}

.funcionamento .img {
	height: 251px;
	width: 384px;
	border-radius: 15px;
	background: url(../assets/exemplo.png);
	background-repeat: no-repeat;
	box-shadow: inset 2px 7px 10px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	margin-right: 46px;
}

.funcionamento h2 {
	width: 46px;
	height: 18px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
}

.funcionamento p {
	width: 369px;
	height: 90px;
	text-align: left;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #000000;
}

@media(max-width: 700px) {
	.funcionamento {
		flex-direction: column-reverse;
	}
	.funcionamento .img {
		background-size: cover;
		background-position: center;
		width: 60%;
		height: 35vh;
		margin-right: 0;
		margin-top: 46px;
	}
	.funcionamento h2 {
		margin-bottom: 46px;
		width: 100%;
		height: 18px;
		font-weight: 800;
		text-align: center;
	}
	.funcionamento p {
		text-align: center;
	}
}


.cards {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 19px;
}

.ex1 {
	width: 241px;
	height: 312px;
	background: url(../assets/1.png);
	box-shadow: inset 2px 7px 10px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	content: '';
	margin-right: 42px;
}

.ex1:after {
	content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit';
	color: #fff;
	text-align: center;
	background: #0000009c;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 205px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 241px;
	height: 106px;
	transition: 0.5s;
}

.ex1:hover::after {
	top: 0px;
	height: 312px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.ex2 {
	width: 241px;
	height: 312px;
	background: url(../assets/2.png);
	box-shadow: inset 2px 7px 10px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	content: '';
	margin-right: 42px;
}

.ex2:after {
	content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit';
	color: #fff;
	text-align: center;
	background: #0000009c;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 205px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 241px;
	height: 106px;
	transition: 0.5s;
}


.ex2:hover::after {
	top: 0px;
	height: 312px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.ex3 {
	width: 241px;
	height: 312px;
	background: url(../assets/3.png);
	box-shadow: inset 2px 7px 10px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	content: '';
}

.ex3:after {
	content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit';
	color: #fff;
	text-align: center;
	background: #0000009c;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 205px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 241px;
	height: 106px;
	transition: 0.5s;
}

.ex3:hover::after {
	top: 0px;
	height: 312px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.text h3 {
	width: 43px;
	height: 18px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 34px;
}

.text p {
	width: 737px;
	height: 45px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 34px;
}

.text img {
	width: 737px;
	height: 236px;
	border-radius: 15px;
	margin-bottom: 50px;
}

.helpc-footer {
	width: 100%;
	background-color: #1e1e1e;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.contatos {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 86px;
}

.explorar {
	width: 70vw;
	margin-top: 84px;
	padding-left: 348px;
}

.explorar h4 {
	margin-bottom: 14px;
}

.explorar ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	color: #fff;
}

.explorar ul li {
	margin-right: 61px;
}

.redes-sociais {
	width: 30vw;
	margin-top: 84px;
}

.redes-sociais h4 {
	padding-left: 54px;
}

.redes-sociais ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.direitos {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 71px;
}

.direitos img {
	width: 127px;
	height: 39px;
	margin-right: 32px;
}

.direitos p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;
	transform: translate(0px, 5px);
}